Package: scorekeeper
Version: 2.2.0
Architecture: all
Depends: lighttpd, lua, lua-socket, lua-dkjson
License: GPLv3
Maintainer: Brett Wilson
Description: Listener for scorekeeper services and redirect for web traffic based on discovered values
